{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
	Ende
{% endblock %}

{% block content %}
	<p>
		Vielen Dank für Ihre Teilnahme. Das Experiment ist jetzt beendet.<br> 
		In der Entscheidungsaufgabe wurde zufällig Runde X zur Auszahlung ausgewählt.<br>
		In dieser Runde haben Sie Z Punkte verdient was umgerechnet V Euro entspricht.<br>
		Zusammen mit Ihrer Teilnahmevergütung von 3 Euro erhalten Sie also insgesamt: {{ player.payoff }}<br>
		Bitte tragen Sie diesen Betrag in die Ausgeteilte Quittung ein und warten Sie an Ihrem Platz bis Sie an Hand Ihrer Computernummer aufgerufen werden.
	</p>
    {% next_button %}
{% endblock %}


 