{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
   Settings
{% endblock %}

{% block content %}

<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/1.8/ref/templates/language/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->
	{% formfield player.mode with label="Default:" %}
	{% formfield player.default with label="Mode:" %}
	{% formfield player.max_steps with label="Schrittanzahl:" %}
	{% formfield player.interval with label="Sekunden zwischen den Schritten:" %}
	{% formfield player.small_step with label="Größe des kleinen Schritts:" %}
	{% formfield player.big_step with label="Größe des großen Schritts:" %}

    {% next_button %}

{% endblock %}
