{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
    <link rel="stylesheet" href="{% static "single/jquery-ui.min.css" %}">
    <link rel="stylesheet" href="{% static "single/category.css" %}">
{% endblock %}

{% block scripts %}
    <script src="{% static "group/jquery-ui.min.js" %}"></script>
    <script src="{% static "group/category.js" %}"></script>
{% endblock %}

{% block title %}
    Teil 1
{% endblock %}

{% block content %}
    <p>Banken verwenden häufig folgende fünf Begriffe für verschiedene Geldanlagestrategien:</p>
    <div id="category_center_box">
        <div id="category_box">
            <div class="category_label_container">
                <div class="category_label" id="a">
                    <div class="label">sehr konservativ</div>
                    <div class="category_label_handle handle_right"></div>
                </div>
            </div>
            <div class="category_label_container">
                <div class="category_label" id="b">
                    <div class="label">sicherheitsorientiert</div>
                    <div class="category_label_handle handle_right"></div>
                </div>
            </div>
            <div class="category_label_container">
                <div class="category_label" id="c">
                    <div class="label">ausgeglichen</div>
                    <div class="category_label_handle handle_right"></div>
                </div>
            </div>
            <div class="category_label_container">
                <div class="category_label" id="d">
                    <div class="label">wachstumsorientiert</div>
                    <div class="category_label_handle handle_right"></div>
                </div>
            </div>
            <div class="category_label_container">
                <div class="category_label" id="e">
                    <div class="label">offensiv</div>
                    <div class="category_label_handle handle_right"></div>
                </div>
            </div>
        </div>
    </div>
    <p style="clear:both;">Die Reihenfolge der Begriffe ist fest vorgegeben. Eine sehr konservative Strategie wird dabei beispielsweise als weniger risikobehaftet angesehen als eine offensive Anlagestrategie. Wir sind nun an Ihrer persönlichen Wahrnehmung dieser Anlagestrategien interessiert.</p> <p>Nehmen Sie an es gäbe <strong>eine</strong> riskante Geldanlagemöglichkeit, in die Sie investieren könnten. Geld, das Sie nicht investieren würden, verbliebe sicher angelegt. Die folgende Skala misst die Investition in die riskante Anlage als prozentualer Anteil Ihres Gesamtvermögens.</p>

    <div id="super_box">
        <div id="left_axis_label" class="axis_label">0%</div>
        <div id="right_axis_label" class="axis_label">100%</div>
        <div id="axis_box">
            <hr id='axis_line'> 
            <div id="axis">

            </div>
        </div>
        
    </div>


    <p>Gehen Sie die fünf Anlagestrategien der Reihe nach einzeln durch. Stellen Sie sich für jede Strategie die Frage, welche Spanne von Investitionsanteilen in die riskante Anlage Sie persönlich mit der jeweiligen Strategie in Verbindung bringen.</p> 

    <p>Beginnen Sie mit der Strategie „sehr konservativ“.<br>
    Stellen Sie sich die Frage:<br>
    <strong>Ausgehend von 0%, bis wohin würden Sie eine Investition in die riskante Geldanlagemöglichkeit als „sehr konservativ“ bezeichnen?</strong><br>
    Zur Beantwortung der Frage ziehen Sie die Strategie mit der Maus auf die Skala. Passen Sie anschließend die Größe des abgedeckten Intervalls durch Ziehen mit der Maus gemäß ihrer persönlichen Wahrnehmung an.</p>

    <p>Fahren Sie dann mit der Strategie „sicherheitsorientiert“ fort. Diese muss direkt an „sehr konservativ“ angrenzen, da sie als risikoreicher gilt.<br>
    Stellen Sie sich auch hier die Frage:<br><strong>Bis wohin würden Sie eine Investition in die riskante Geldanlagemöglichkeit als „sicherheitsorientiert“ bezeichnen?</strong><br>
    Ziehen Sie den Begriff auf die Skala und passen Sie dann seine Größe an.</p>

    <p>Gehen Sie auch für die verbleibenden drei Anlagestrategien nach gleichem Muster vor.<br>
    Die fünf Anlagestrategien müssen am Ende die gesamte Skala von 0 bis 100% abdecken. Das heißt, jeder Prozentzahl muss eine Anlagestrategie eindeutig zugeordnet sein. Sie können die Größe der einzelnen Intervalle auch nach der ersten Positionierung weiterhin verändern.</p>

    <p>Es ist <strong>nicht</strong> Ihre Aufgabe ein Portfolio aus den verschiedenen Anlagestrategien zusammenzustellen oder Ihren eigenen Anlagewunsch auszudrücken. Es geht uns ausschließlich um <strong>Ihre persönliche Wahrnehmung der Anlagestrategien</strong> und wie diese jeweils einzeln mit Investitionen in die riskante Anlage in Verbindung stehen. Es gibt folglich keine richtigen oder falschen Anordnungen.</p>

    <input type="hidden" name="cat_end_rel_1" id="id_cat_end_rel_1">
    <input type="hidden" name="cat_end_rel_2" id="id_cat_end_rel_2">
    <input type="hidden" name="cat_end_rel_3" id="id_cat_end_rel_3">
    <input type="hidden" name="cat_end_rel_4" id="id_cat_end_rel_4">
    <input type="hidden" name="cat_end_rel_5" id="id_cat_end_rel_5">

    <input type="hidden" name="cat_end_abs_1" id="id_cat_end_abs_1">
    <input type="hidden" name="cat_end_abs_2" id="id_cat_end_abs_2">
    <input type="hidden" name="cat_end_abs_3" id="id_cat_end_abs_3">
    <input type="hidden" name="cat_end_abs_4" id="id_cat_end_abs_4">
    <input type="hidden" name="cat_end_abs_5" id="id_cat_end_abs_5">

    <p>Wenn Sie alle Anlagestrategien entsprechend angeordnet haben, klicken Sie bitte auf „Weiter“.</p>

    <div align="right">{% next_button %}</div>

{% endblock %}
