{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Part 2
{% endblock %}

{% block content %}

<p>
	On the following screen, you will be presented, one-by-one, with a total of <b>30 blue balloons</b>. For each balloon, you can <b>decide how much to inflate it</b>. As soon as you move your cursor over the red "inflate"-button, an automatic pump starts to inflate the balloon in small, discrete and regular steps. If your cursor leaves the red button, the automatic pump stops and the balloon is not inflated any further. You cannot restart the pump once it has been stopped.
</p>
<p>
	Please be reminded, that balloons can pop if they are inflated too much. You decide, how much to inflate each balloon. Some balloons may pop on the first push of the pump, others only pop once they fill out the entire surrounding area. For each balloon, you can make a <b>maximum of 128 pushes</b>. On average, balloons pop after 64 pushes of the pump. At the 128th push balloons pop for sure. That means: The probability of a balloon popping on the first push is very low.
	The probability that a balloon pops increases with every subsequent push which does not cause the balloon to pop. 
	</p>

<p>The more you inflate the baloon, the more points you can win. For each push of the pump 5 points are added to your temporary account. For each balloon, you can accumulate a total of 635 points.
</p>
<p>
	As long as a balloon has not popped, you can secure the points that have accumulated on your temporary account. The points are autmatically secured when you stop the automatic pump. To do so, you need to pull your mouse cursor away from the "inflate"-button. Every time you collect the points, they are added to your personal account. After the points have been transfered and a new ballon has appeared, your temporary account is reset to 0 points.
</p>
<p>
	If a balloon pops before you collect the points, the points on your temporary account are lost. Your personal account is not affected and remains unchanged. If a balloon pops, a new one appears.
</p>
<p>
	During the task you can see how many balloons you have already inflated, how many points you have accumulated on your personal account, how many points you have accumulated on your temporary account and how many pump pushes you have made for the current ballon.
</p>
<p>
	If this task is selected for payment at the end of the experiment, the total number of points you have accumulated on your personal account becomes payoff relevant.<br>
	On the following screen you can try out the pump mechanism.
</p>

    {% next_button %}

{% endblock %}
