{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Demographics
{% endblock %}

{% block content %}

	<p>Please answer the following questions regarding your person.</p>

	{% formfield player.age with label="How old are you?" %}

	{% formfield player.female with label="What is your gender?" %}

	{% formfield player.nationality with label="What is your nationality?" %}

	{% formfield player.studies with label="What is your major field of studies?" %}

    {% next_button %}

{% endblock %}
