{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Questionnaire (1 / 2)
{% endblock %}

{% block content %}

	<p>
		For each of the following statements, please indicate the <b>likelihood</b> that you would engage in the described activity or behavior if you were to find yourself in that situation. Provide a rating from <b>1 to 7</b>, using the following scale:
	</p>
	<table class="desc_table">
		<tr>
			<th class="desc_header">1</th>
			<th class="desc_header">2</th>
			<th class="desc_header">3</th>
			<th class="desc_header">4</th>
			<th class="desc_header">5</th>
			<th class="desc_header">6</th>
			<th class="desc_header">7</th>
		</tr>
		<tr>
			<td class="desc_field">extremely unlikely</td>
			<td class="desc_field">moderately unlikely</td>
			<td class="desc_field">somewhat unlikely</td>
			<td class="desc_field">not sure</td>
			<td class="desc_field">somewhat likely</td>
			<td class="desc_field">moderately likely</td>
			<td class="desc_field">extremely likely</td>
		</tr>
	</table>

	<p>&nbsp;</p>

	<table class="table_risk">
		<tr>
			<th>Activity</th>
			<th class="table_right_col" id="table_right_header">1 2 3 4 5 6 7</th>
		</tr>
		<tr class="table_content_row">
			<td class="table_left_col">Take money out of a purse you found on the street.</td>
			<td class="table_right_col">
				<input type="radio" id="id_active_risk_1_1" value="1" name="active_risk_1" required="" {% if form.active_risk_1.value == "1" %} checked="" {% endif %}>
				<input type="radio" id="id_active_risk_1_2" value="2" name="active_risk_1" required="" {% if form.active_risk_1.value == "2" %} checked="" {% endif %}>
				<input type="radio" id="id_active_risk_1_3" value="3" name="active_risk_1" required="" {% if form.active_risk_1.value == "3" %} checked="" {% endif %}>
				<input type="radio" id="id_active_risk_1_4" value="4" name="active_risk_1" required="" {% if form.active_risk_1.value == "4" %} checked="" {% endif %}>
				<input type="radio" id="id_active_risk_1_5" value="5" name="active_risk_1" required="" {% if form.active_risk_1.value == "5" %} checked="" {% endif %}>
				<input type="radio" id="id_active_risk_1_6" value="6" name="active_risk_1" required="" {% if form.active_risk_1.value == "6" %} checked="" {% endif %}>
				<input type="radio" id="id_active_risk_1_7" value="7" name="active_risk_1" required="" {% if form.active_risk_1.value == "7" %} checked="" {% endif %}>
				{{ form.active_risk_1.errors }}
			</td>
		</tr>
		<tr class="table_content_row">
			<td class="table_left_col">Start an affaire with someone, who is in a relationship.</td>
			<td class="table_right_col">
				<input type="radio" id="id_active_risk_2_1" value="1" name="active_risk_2" required="" {% if form.active_risk_2.value == "1" %} checked="" {% endif %}>
				<input type="radio" id="id_active_risk_2_2" value="2" name="active_risk_2" required="" {% if form.active_risk_2.value == "2" %} checked="" {% endif %}>
				<input type="radio" id="id_active_risk_2_3" value="3" name="active_risk_2" required="" {% if form.active_risk_2.value == "3" %} checked="" {% endif %}>
				<input type="radio" id="id_active_risk_2_4" value="4" name="active_risk_2" required="" {% if form.active_risk_2.value == "4" %} checked="" {% endif %}>
				<input type="radio" id="id_active_risk_2_5" value="5" name="active_risk_2" required="" {% if form.active_risk_2.value == "5" %} checked="" {% endif %}>
				<input type="radio" id="id_active_risk_2_6" value="6" name="active_risk_2" required="" {% if form.active_risk_2.value == "6" %} checked="" {% endif %}>
				<input type="radio" id="id_active_risk_2_7" value="7" name="active_risk_2" required="" {% if form.active_risk_2.value == "7" %} checked="" {% endif %}>
				{{ form.active_risk_2.errors }}
			</td>
		</tr>
		<tr class="table_content_row">
			<td class="table_left_col">Cheat on an exam.</td>
			<td class="table_right_col">
				<input type="radio" id="id_active_risk_3_1" value="1" name="active_risk_3" required="" {% if form.active_risk_3.value == "1" %} checked="" {% endif %}>
				<input type="radio" id="id_active_risk_3_2" value="2" name="active_risk_3" required="" {% if form.active_risk_3.value == "2" %} checked="" {% endif %}>
				<input type="radio" id="id_active_risk_3_3" value="3" name="active_risk_3" required="" {% if form.active_risk_3.value == "3" %} checked="" {% endif %}>
				<input type="radio" id="id_active_risk_3_4" value="4" name="active_risk_3" required="" {% if form.active_risk_3.value == "4" %} checked="" {% endif %}>
				<input type="radio" id="id_active_risk_3_5" value="5" name="active_risk_3" required="" {% if form.active_risk_3.value == "5" %} checked="" {% endif %}>
				<input type="radio" id="id_active_risk_3_6" value="6" name="active_risk_3" required="" {% if form.active_risk_3.value == "6" %} checked="" {% endif %}>
				<input type="radio" id="id_active_risk_3_7" value="7" name="active_risk_3" required="" {% if form.active_risk_3.value == "7" %} checked="" {% endif %}>
				{{ form.active_risk_3.errors }}
			</td>
		</tr>
		<tr class="table_content_row">
			<td class="table_left_col">Publicly contradict a speaker at a public event.</td>
			<td class="table_right_col">
				<input type="radio" id="id_active_risk_4_1" value="1" name="active_risk_4" required="" {% if form.active_risk_4.value == "1" %} checked="" {% endif %}>
				<input type="radio" id="id_active_risk_4_2" value="2" name="active_risk_4" required="" {% if form.active_risk_4.value == "2" %} checked="" {% endif %}>
				<input type="radio" id="id_active_risk_4_3" value="3" name="active_risk_4" required="" {% if form.active_risk_4.value == "3" %} checked="" {% endif %}>
				<input type="radio" id="id_active_risk_4_4" value="4" name="active_risk_4" required="" {% if form.active_risk_4.value == "4" %} checked="" {% endif %}>
				<input type="radio" id="id_active_risk_4_5" value="5" name="active_risk_4" required="" {% if form.active_risk_4.value == "5" %} checked="" {% endif %}>
				<input type="radio" id="id_active_risk_4_6" value="6" name="active_risk_4" required="" {% if form.active_risk_4.value == "6" %} checked="" {% endif %}>
				<input type="radio" id="id_active_risk_4_7" value="7" name="active_risk_4" required="" {% if form.active_risk_4.value == "7" %} checked="" {% endif %}>
				{{ form.active_risk_4.errors }}
			</td>
		</tr>
		<tr class="table_content_row">
			<td class="table_left_col">Smoke cigarettes.</td>
			<td class="table_right_col">
				<input type="radio" id="id_active_risk_5_1" value="1" name="active_risk_5" required="" {% if form.active_risk_5.value == "1" %} checked="" {% endif %}>
				<input type="radio" id="id_active_risk_5_2" value="2" name="active_risk_5" required="" {% if form.active_risk_5.value == "2" %} checked="" {% endif %}>
				<input type="radio" id="id_active_risk_5_3" value="3" name="active_risk_5" required="" {% if form.active_risk_5.value == "3" %} checked="" {% endif %}>
				<input type="radio" id="id_active_risk_5_4" value="4" name="active_risk_5" required="" {% if form.active_risk_5.value == "4" %} checked="" {% endif %}>
				<input type="radio" id="id_active_risk_5_5" value="5" name="active_risk_5" required="" {% if form.active_risk_5.value == "5" %} checked="" {% endif %}>
				<input type="radio" id="id_active_risk_5_6" value="6" name="active_risk_5" required="" {% if form.active_risk_5.value == "6" %} checked="" {% endif %}>
				<input type="radio" id="id_active_risk_5_7" value="7" name="active_risk_5" required="" {% if form.active_risk_5.value == "7" %} checked="" {% endif %}>
				{{ form.active_risk_5.errors }}
			</td>
		</tr>
		<tr class="table_content_row">
			<td class="table_left_col">Write text messages while driving or riding a bike.</td>
			<td class="table_right_col">
				<input type="radio" id="id_active_risk_6_1" value="1" name="active_risk_6" required="" {% if form.active_risk_6.value == "1" %} checked="" {% endif %}>
				<input type="radio" id="id_active_risk_6_2" value="2" name="active_risk_6" required="" {% if form.active_risk_6.value == "2" %} checked="" {% endif %}>
				<input type="radio" id="id_active_risk_6_3" value="3" name="active_risk_6" required="" {% if form.active_risk_6.value == "3" %} checked="" {% endif %}>
				<input type="radio" id="id_active_risk_6_4" value="4" name="active_risk_6" required="" {% if form.active_risk_6.value == "4" %} checked="" {% endif %}>
				<input type="radio" id="id_active_risk_6_5" value="5" name="active_risk_6" required="" {% if form.active_risk_6.value == "5" %} checked="" {% endif %}>
				<input type="radio" id="id_active_risk_6_6" value="6" name="active_risk_6" required="" {% if form.active_risk_6.value == "6" %} checked="" {% endif %}>
				<input type="radio" id="id_active_risk_6_7" value="7" name="active_risk_6" required="" {% if form.active_risk_6.value == "7" %} checked="" {% endif %}>
				{{ form.active_risk_6.errors }}
			</td>
		</tr>
		
		<tr class="table_content_row">
			<td class="table_left_col">Inform the cashier about having received too much change.</td>
			<td class="table_right_col">
				<input type="radio" id="id_passive_risk_1_1" value="1" name="passive_risk_1" required="" {% if form.passive_risk_1.value == "1" %} checked="" {% endif %}>
				<input type="radio" id="id_passive_risk_1_2" value="2" name="passive_risk_1" required="" {% if form.passive_risk_1.value == "2" %} checked="" {% endif %}>
				<input type="radio" id="id_passive_risk_1_3" value="3" name="passive_risk_1" required="" {% if form.passive_risk_1.value == "3" %} checked="" {% endif %}>
				<input type="radio" id="id_passive_risk_1_4" value="4" name="passive_risk_1" required="" {% if form.passive_risk_1.value == "4" %} checked="" {% endif %}>
				<input type="radio" id="id_passive_risk_1_5" value="5" name="passive_risk_1" required="" {% if form.passive_risk_1.value == "5" %} checked="" {% endif %}>
				<input type="radio" id="id_passive_risk_1_6" value="6" name="passive_risk_1" required="" {% if form.passive_risk_1.value == "6" %} checked="" {% endif %}>
				<input type="radio" id="id_passive_risk_1_7" value="7" name="passive_risk_1" required="" {% if form.passive_risk_1.value == "7" %} checked="" {% endif %}>
				{{ form.passive_risk_1.errors }}
			</td>
		</tr>
		<tr class="table_content_row">
			<td class="table_left_col">Go through customs without declaring anything, although carrying goods that should be declared.</td>
			<td class="table_right_col">
				<input type="radio" id="id_passive_risk_2_1" value="1" name="passive_risk_2" required="" {% if form.passive_risk_2.value == "1" %} checked="" {% endif %}>
				<input type="radio" id="id_passive_risk_2_2" value="2" name="passive_risk_2" required="" {% if form.passive_risk_2.value == "2" %} checked="" {% endif %}>
				<input type="radio" id="id_passive_risk_2_3" value="3" name="passive_risk_2" required="" {% if form.passive_risk_2.value == "3" %} checked="" {% endif %}>
				<input type="radio" id="id_passive_risk_2_4" value="4" name="passive_risk_2" required="" {% if form.passive_risk_2.value == "4" %} checked="" {% endif %}>
				<input type="radio" id="id_passive_risk_2_5" value="5" name="passive_risk_2" required="" {% if form.passive_risk_2.value == "5" %} checked="" {% endif %}>
				<input type="radio" id="id_passive_risk_2_6" value="6" name="passive_risk_2" required="" {% if form.passive_risk_2.value == "6" %} checked="" {% endif %}>
				<input type="radio" id="id_passive_risk_2_7" value="7" name="passive_risk_2" required="" {% if form.passive_risk_2.value == "7" %} checked="" {% endif %}>
				{{ form.passive_risk_2.errors }}
			</td>
		</tr>
		<tr class="table_content_row">
			<td class="table_left_col">Report to child services, if a child in the neighbourhood is neglected by its parents.</td>
			<td class="table_right_col">
				<input type="radio" id="id_passive_risk_3_1" value="1" name="passive_risk_3" required="" {% if form.passive_risk_3.value == "1" %} checked="" {% endif %}>
				<input type="radio" id="id_passive_risk_3_2" value="2" name="passive_risk_3" required="" {% if form.passive_risk_3.value == "2" %} checked="" {% endif %}>
				<input type="radio" id="id_passive_risk_3_3" value="3" name="passive_risk_3" required="" {% if form.passive_risk_3.value == "3" %} checked="" {% endif %}>
				<input type="radio" id="id_passive_risk_3_4" value="4" name="passive_risk_3" required="" {% if form.passive_risk_3.value == "4" %} checked="" {% endif %}>
				<input type="radio" id="id_passive_risk_3_5" value="5" name="passive_risk_3" required="" {% if form.passive_risk_3.value == "5" %} checked="" {% endif %}>
				<input type="radio" id="id_passive_risk_3_6" value="6" name="passive_risk_3" required="" {% if form.passive_risk_3.value == "6" %} checked="" {% endif %}>
				<input type="radio" id="id_passive_risk_3_7" value="7" name="passive_risk_3" required="" {% if form.passive_risk_3.value == "7" %} checked="" {% endif %}>
				{{ form.passive_risk_3.errors }}
			</td>
		</tr>
		<tr class="table_content_row">
			<td class="table_left_col">Buy CO2 offsets, if you take a long flight.</td>
			<td class="table_right_col">
				<input type="radio" id="id_passive_risk_4_1" value="1" name="passive_risk_4" required="" {% if form.passive_risk_4.value == "1" %} checked="" {% endif %}>
				<input type="radio" id="id_passive_risk_4_2" value="2" name="passive_risk_4" required="" {% if form.passive_risk_4.value == "2" %} checked="" {% endif %}>
				<input type="radio" id="id_passive_risk_4_3" value="3" name="passive_risk_4" required="" {% if form.passive_risk_4.value == "3" %} checked="" {% endif %}>
				<input type="radio" id="id_passive_risk_4_4" value="4" name="passive_risk_4" required="" {% if form.passive_risk_4.value == "4" %} checked="" {% endif %}>
				<input type="radio" id="id_passive_risk_4_5" value="5" name="passive_risk_4" required="" {% if form.passive_risk_4.value == "5" %} checked="" {% endif %}>
				<input type="radio" id="id_passive_risk_4_6" value="6" name="passive_risk_4" required="" {% if form.passive_risk_4.value == "6" %} checked="" {% endif %}>
				<input type="radio" id="id_passive_risk_4_7" value="7" name="passive_risk_4" required="" {% if form.passive_risk_4.value == "7" %} checked="" {% endif %}>
				{{ form.passive_risk_4.errors }}
			</td>
		</tr>
		<tr class="table_content_row">
			<td class="table_left_col">Wear a helmet when riding a bike.</td>
			<td class="table_right_col">
				<input type="radio" id="id_passive_risk_5_1" value="1" name="passive_risk_5" required="" {% if form.passive_risk_5.value == "1" %} checked="" {% endif %}>
				<input type="radio" id="id_passive_risk_5_2" value="2" name="passive_risk_5" required="" {% if form.passive_risk_5.value == "2" %} checked="" {% endif %}>
				<input type="radio" id="id_passive_risk_5_3" value="3" name="passive_risk_5" required="" {% if form.passive_risk_5.value == "3" %} checked="" {% endif %}>
				<input type="radio" id="id_passive_risk_5_4" value="4" name="passive_risk_5" required="" {% if form.passive_risk_5.value == "4" %} checked="" {% endif %}>
				<input type="radio" id="id_passive_risk_5_5" value="5" name="passive_risk_5" required="" {% if form.passive_risk_5.value == "5" %} checked="" {% endif %}>
				<input type="radio" id="id_passive_risk_5_6" value="6" name="passive_risk_5" required="" {% if form.passive_risk_5.value == "6" %} checked="" {% endif %}>
				<input type="radio" id="id_passive_risk_5_7" value="7" name="passive_risk_5" required="" {% if form.passive_risk_5.value == "7" %} checked="" {% endif %}>
				{{ form.passive_risk_5.errors }}
			</td>
		</tr>
		<tr class="table_content_row">
			<td class="table_left_col">Regularly have your teeth checked by a dentist.</td>
			<td class="table_right_col">
				<input type="radio" id="id_passive_risk_6_1" value="1" name="passive_risk_6" required="" {% if form.passive_risk_6.value == "1" %} checked="" {% endif %}>
				<input type="radio" id="id_passive_risk_6_2" value="2" name="passive_risk_6" required="" {% if form.passive_risk_6.value == "2" %} checked="" {% endif %}>
				<input type="radio" id="id_passive_risk_6_3" value="3" name="passive_risk_6" required="" {% if form.passive_risk_6.value == "3" %} checked="" {% endif %}>
				<input type="radio" id="id_passive_risk_6_4" value="4" name="passive_risk_6" required="" {% if form.passive_risk_6.value == "4" %} checked="" {% endif %}>
				<input type="radio" id="id_passive_risk_6_5" value="5" name="passive_risk_6" required="" {% if form.passive_risk_6.value == "5" %} checked="" {% endif %}>
				<input type="radio" id="id_passive_risk_6_6" value="6" name="passive_risk_6" required="" {% if form.passive_risk_6.value == "6" %} checked="" {% endif %}>
				<input type="radio" id="id_passive_risk_6_7" value="7" name="passive_risk_6" required="" {% if form.passive_risk_6.value == "7" %} checked="" {% endif %}>
				{{ form.passive_risk_6.errors }}
			</td>
		</tr>
	</table>


	<p>&nbsp;</p>

    {% next_button %}

{% endblock %}

{% block styles %}
	<style type="text/css">
	.table_risk {
		width: 100%;
	}

	.table_right_col {
		width: 250px;
		/*text-align: center;*/
		word-spacing: 20px;
	}

	#table_right_header {
		word-spacing: 25px;
	}

	.table_content_row td {
		padding-top: 10px;
	}

	.desc_header {
		text-align: center;
		width: 14.28%;
		border-bottom: 1px solid black;
	}

	.desc_field {
		text-align: center;
	}

	.desc_table {
		width: 100%;
	}

	</style>
{% endblock %}
