{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}


{% block title %}
    Part 2 - Trial Round
{% endblock %}

{% block content %}

	<div class="centerbox noselect">
      <div id="trafficLightContainer">
        <div id="light">
          
        </div>
      </div>
      <div id="trafficLightInfo">
      </div>
      <div class="trafficLightButtonBox">
          <a class="pseudoButton redButton" id="lightSwitch">change color</a>
          <a class="pseudoButton blueButton" id="balloonNext">next</a>
      </div>
    </div>

{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="{% static "trafficLight/trafficLight.css" %}">
{% endblock %}


{% block scripts %}
	<script type="text/javascript" src="{% static "bart_en/CustomEventHandler.js" %}"></script>
    <script type="text/javascript" src="{% static "trafficLight/trafficLight.js" %}"></script>
    <script type="text/javascript" src="{% static "trafficLight/trafficLightUI.js" %}"></script>
    <script type="text/javascript">
      UI = new TrafficLightUI("{{ player.treatment }}");
    </script>

{% endblock %}

