{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %} 
    Teil 2 - Instruktionen (3/3)
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        history.pushState(null, null, location.href);
        window.onpopstate = function(event) {
            history.go(1);
        };
    </script>
{% endblock %}

{% block styles%}
    <style type="text/css">
        .controls label {
            margin-right: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <p><strong>Ablauf</strong></p>
    <p>In diesem Experiment werden zunächst alle Teilnehmer beide Rollen annehmen: Die Rolle des Kunden und die Rolle des Finanzberaters. 
    Jeder Teilnehmer ist zunächst Kunde und wählt eine der fünf Anlagestrategien aus Teil 1 aus, um dem Finanzberater seinen Investitionswunsch zu signalisieren.<br/>
    Dann nimmt jeder Teilnehmer die Rolle eines Finanzberaters ein und trifft die tatsächliche Investitionsentscheidungen für seinen Kunden.</p>
    <p>Der Computer wählt dann zufällig die Hälfte der Teilnehmer aus, deren Beratungsentscheidung auszahlungsrelevant wird. Das heißt, die ausgewählten Teilnehmer erhalten die Auszahlung für ihre Entscheidung als Finanzberater. Die andere Hälfte der Teilnehmer erhält die Auszahlung für Ihre Rolle als Kunde und bekommt entsprechend das aus der Entscheidung ihres jeweiligen Finanzberaters resultierende Investitionsergebnis. Ob die riskante Anlagemöglichkeit einen Erfolg oder einen Misserfolg erzielt, wird für jeden Teilnehmer individuell, zufällig durch den Computer bestimmt.</p>

    <p><strong>Kontrollfragen</strong></p>
    {% formfield player.question_5 label="Die Teilnehmer in diesem Experiment nehmen nacheinander beide Rollen ein." %}
    
    {% formfield player.question_6 label="Für jeden Teilnehmer sind sowohl die Entscheidung als Kunde, als auch als Berater auszahlungsrelevant." %}

    <div align="right">{% next_button %}</div>

{% endblock %}
