/* same as BART*/
body {
	font-size: 20px;
	text-align: justify;
	font-family: Arial, Verdana, sans-serif;	
}

h1 {
	font-weight: bold;
	font-size: 24px;
	margin-top: 0px;
}



.centerbox {
	width: 1000px;
	height: 700px;
	margin-left: auto;
	margin-right: auto;
}

.pseudoButton {
	text-align: center;
	border: 1px solid black;
	box-shadow: 2px 2px 2px #555;
	cursor: pointer;
	display: block;
	float: left;
	margin: 10px;
	font-weight: bold;
	color: #000;
}
.redButton {
	background-color: #F30;
	color: #000;
	text-decoration: none;
}

.blueButton {
	background-color: #0088cc;
	color: #000;
	text-decoration: none;
}

.pseudoButton:hover{
	color: #000;
	text-decoration: none;
}

.redButtonActive {
	box-shadow: 2px 2px 2px #555 inset;
	background-color: #cc2900;
	color: #000;
	text-decoration: none;
}

.pseudoButton.redButton:active {
	box-shadow: 2px 2px 2px #555 inset;
	background-color: #cc2900;
	color: #000;
	text-decoration: none;
}

.pseudoButton.redButton:active::selection {
	background: #cc2900;
	color: #000;
	text-decoration: none;
}
.pseudoButton.redButton:active::-moz-selection {
	background: #cc2900;
	color: #000;
	text-decoration: none;
}
.pseudoButton.redButton::selection {
	background: #F30;
	color: #000;
	text-decoration: none;
}
.pseudoButton.redButton::-moz-selection {
	background: #F30;
	color: #000;
	text-decoration: none;
}

.pseudoButton.blueButton:active {
	box-shadow: 2px 2px 2px #555 inset;
	background-color: #006699;
	color: #000;
	text-decoration: none;
}

.pseudoButton.blueButton:active::selection {
	background: #006699;
	color: #000;
	text-decoration: none;
}
.pseudoButton.blueButton:active::-moz-selection {
	background: #006699;
	color: #000;
	text-decoration: none;
}
.pseudoButton.blueButton::selection {
	background: #0088cc;
	color: #000;
	text-decoration: none;
}
.pseudoButton.blueButton::-moz-selection {
	background: #0088cc;
	color: #000;
	text-decoration: none;
}

#balloonNext {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 175px;
	height: 50px;
	line-height: 50px;
}

/* new stuff */
.noselect { /* should add this to all pages */
	webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;  
}

.trafficLightButtonBox {
	width: 400px;
	height: 200px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border: 1px solid black;
	position: relative;
}

#light {
	background-color: #0f0;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	text-align: center;
	line-height: 100px;
	font-size: 32px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #ccc;
}

#lightSwitch {
	width: 175px;
	height: 175px;
	line-height: 175px;
	bottom: 0px;
	position: absolute;
}

#trafficLightContainer {
	margin-top: 50px;
}

#trafficLightInfo {
	margin-top: 50px;
	text-align: center;
}