{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Ihre Aufgabe
{% endblock %}

{% block content %}

	<div class="centerbox noselect">
		<div class="balloonDisplayArea" id="balloonDisplayArea">
			<div class="balloonBox" id="balloonBox">
				<h1 class="balloonHeading">Ballon</h1>
				<img src="{% static "bart/balloon.jpg" %}" id="balloonImage" width="100" height="100">
			</div>
			<div class="infoBox" id="balloonInfo">
				<h1>Informationen</h1>
				<p class="infoText">Ballon: <span id="balloonCount">0</span><br>
					Pumpstöße: <span id="balloonStep">0</span><br>
					Punkte aktuell: <span id="balloonCurrentSum">0</span> Punkte<br>
					Punkte sicher: <span id="balloonCollectedSum">0</span> Punkte
				</p>
				<div id='balloonInstructions'>
					<p>Klicken Sie auf "aufpumpen" um den Ballon aufzupumpen.</p>
					<p>Klicken Sie auf "Punkte sichern" um sich die aktuellen Punkte zu sichern.</p>
				</div>
			</div>
			<div class="buttonBox" id="balloonButtons">
				<a class="pseudoButton redButton" id="balloonPump">aufpumpen</a>
				<a class="pseudoButton blueButton" id="balloonNext">Punkte sichern</a>
			</div>
		</div>
	</div>
	<div>
		<input type="hidden" name="bart_green_raw_data" id="id_bart_raw_data"/>
		<input type="hidden" name="bart_green_sum_collected" id="id_bart_sum_collected"/>
		<input type="hidden" name="bart_green_avg_time" id="id_bart_avg_time"/>
		<input type="hidden" name="bart_green_num_intact" id="id_bart_num_intact"/>
		<input type="hidden" name="bart_green_avg_pumps_intact" id="id_bart_avg_pumps_intact"/>
	</div>
    {# {% next_button %} #}

{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="{% static "bart/newBart.css" %}">
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="{% static "bart/CustomEventHandler.js" %}"></script>
    <script type="text/javascript" src="{% static "bart/newBartOldJS.js" %}"></script>
 	<script type="text/javascript" src="{% static "bart/bartUIoldJS.js" %}"></script>
 	<script type="text/javascript">
 		// needs to be changed to depend on otree treatment variable
 		var bartUI = new UI("{{ player.treatment }}", "green", "{% static "bart/balloon_green.jpg" %}", "{% static "bart/balloon_green_popped.jpg" %}"); 
 	</script>
{% endblock %}