{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Fragebogen (2 / 2)
{% endblock %}

{% block content %}

	<p>
		Bitte geben Sie für jede der folgenden Aussagen an, mit welcher <b>Wahrscheinlichkeit</b> Sie der genannten Aktivität oder Verhaltensweise nachgehen würden. Benutzen Sie dafür bitte folgende Skala von <b>1 bis 7</b>:
	</p>
	<table class="desc_table">
		<tr>
			<th class="desc_header">1</th>
			<th class="desc_header">2</th>
			<th class="desc_header">3</th>
			<th class="desc_header">4</th>
			<th class="desc_header">5</th>
			<th class="desc_header">6</th>
			<th class="desc_header">7</th>
		</tr>
		<tr>
			<td class="desc_field">sehr unwahrscheinlich</td>
			<td class="desc_field">unwahrscheinlich</td>
			<td class="desc_field">eher unwahrscheinlich</td>
			<td class="desc_field">nicht sicher</td>
			<td class="desc_field">eher wahrscheinlich</td>
			<td class="desc_field">wahrscheinlich</td>
			<td class="desc_field">sehr wahrscheinlich</td>
		</tr>
	</table>

	<p>&nbsp;</p>

	<table class="table_risk">
		<tr>
			<th>Frage</th>
			<th class="table_right_col" id="table_right_header">1 2 3 4 5 6 7</th>
		</tr>
		<tr class="table_content_row">
			<td class="table_left_col">Active Risk 7</td>
			<td class="table_right_col">
				<input type="radio" id="id_active_risk_7_1" value="1" name="active_risk_7" required="">
				<input type="radio" id="id_active_risk_7_2" value="2" name="active_risk_7" required="">
				<input type="radio" id="id_active_risk_7_3" value="3" name="active_risk_7" required="">
				<input type="radio" id="id_active_risk_7_4" value="4" name="active_risk_7" required="">
				<input type="radio" id="id_active_risk_7_5" value="5" name="active_risk_7" required="">
				<input type="radio" id="id_active_risk_7_6" value="6" name="active_risk_7" required="">
				<input type="radio" id="id_active_risk_7_7" value="7" name="active_risk_7" required="">
			</td>
		</tr>
		<tr class="table_content_row">
			<td class="table_left_col">Active Risk 8</td>
			<td class="table_right_col">
				<input type="radio" id="id_active_risk_8_1" value="1" name="active_risk_8" required="">
				<input type="radio" id="id_active_risk_8_2" value="2" name="active_risk_8" required="">
				<input type="radio" id="id_active_risk_8_3" value="3" name="active_risk_8" required="">
				<input type="radio" id="id_active_risk_8_4" value="4" name="active_risk_8" required="">
				<input type="radio" id="id_active_risk_8_5" value="5" name="active_risk_8" required="">
				<input type="radio" id="id_active_risk_8_6" value="6" name="active_risk_8" required="">
				<input type="radio" id="id_active_risk_8_7" value="7" name="active_risk_8" required="">
			</td>
		</tr>
		<tr class="table_content_row">
			<td class="table_left_col">Active Risk 9</td>
			<td class="table_right_col">
				<input type="radio" id="id_active_risk_9_1" value="1" name="active_risk_9" required="">
				<input type="radio" id="id_active_risk_9_2" value="2" name="active_risk_9" required="">
				<input type="radio" id="id_active_risk_9_3" value="3" name="active_risk_9" required="">
				<input type="radio" id="id_active_risk_9_4" value="4" name="active_risk_9" required="">
				<input type="radio" id="id_active_risk_9_5" value="5" name="active_risk_9" required="">
				<input type="radio" id="id_active_risk_9_6" value="6" name="active_risk_9" required="">
				<input type="radio" id="id_active_risk_9_7" value="7" name="active_risk_9" required="">
			</td>
		</tr>
		<tr class="table_content_row">
			<td class="table_left_col">Active Risk 10</td>
			<td class="table_right_col">
				<input type="radio" id="id_active_risk_10_1" value="1" name="active_risk_10" required="">
				<input type="radio" id="id_active_risk_10_2" value="2" name="active_risk_10" required="">
				<input type="radio" id="id_active_risk_10_3" value="3" name="active_risk_10" required="">
				<input type="radio" id="id_active_risk_10_4" value="4" name="active_risk_10" required="">
				<input type="radio" id="id_active_risk_10_5" value="5" name="active_risk_10" required="">
				<input type="radio" id="id_active_risk_10_6" value="6" name="active_risk_10" required="">
				<input type="radio" id="id_active_risk_10_7" value="7" name="active_risk_10" required="">
			</td>
		</tr>
		<tr class="table_content_row">
			<td class="table_left_col">Active Risk 11</td>
			<td class="table_right_col">
				<input type="radio" id="id_active_risk_11_1" value="1" name="active_risk_11" required="">
				<input type="radio" id="id_active_risk_11_2" value="2" name="active_risk_11" required="">
				<input type="radio" id="id_active_risk_11_3" value="3" name="active_risk_11" required="">
				<input type="radio" id="id_active_risk_11_4" value="4" name="active_risk_11" required="">
				<input type="radio" id="id_active_risk_11_5" value="5" name="active_risk_11" required="">
				<input type="radio" id="id_active_risk_11_6" value="6" name="active_risk_11" required="">
				<input type="radio" id="id_active_risk_11_7" value="7" name="active_risk_11" required="">
			</td>
		</tr>
		<tr class="table_content_row">
			<td class="table_left_col">Active Risk 12</td>
			<td class="table_right_col">
				<input type="radio" id="id_active_risk_12_1" value="1" name="active_risk_12" required="">
				<input type="radio" id="id_active_risk_12_2" value="2" name="active_risk_12" required="">
				<input type="radio" id="id_active_risk_12_3" value="3" name="active_risk_12" required="">
				<input type="radio" id="id_active_risk_12_4" value="4" name="active_risk_12" required="">
				<input type="radio" id="id_active_risk_12_5" value="5" name="active_risk_12" required="">
				<input type="radio" id="id_active_risk_12_6" value="6" name="active_risk_12" required="">
				<input type="radio" id="id_active_risk_12_7" value="7" name="active_risk_12" required="">
			</td>
		</tr>


		<tr class="table_content_row">
			<td class="table_left_col">Passive Risk 7</td>
			<td class="table_right_col">
				<input type="radio" id="id_passive_risk_7_1" value="1" name="passive_risk_7" required="">
				<input type="radio" id="id_passive_risk_7_2" value="2" name="passive_risk_7" required="">
				<input type="radio" id="id_passive_risk_7_3" value="3" name="passive_risk_7" required="">
				<input type="radio" id="id_passive_risk_7_4" value="4" name="passive_risk_7" required="">
				<input type="radio" id="id_passive_risk_7_5" value="5" name="passive_risk_7" required="">
				<input type="radio" id="id_passive_risk_7_6" value="6" name="passive_risk_7" required="">
				<input type="radio" id="id_passive_risk_7_7" value="7" name="passive_risk_7" required="">
			</td>
		</tr>
		<tr class="table_content_row">
			<td class="table_left_col">Passive Risk 8</td>
			<td class="table_right_col">
				<input type="radio" id="id_passive_risk_8_1" value="1" name="passive_risk_8" required="">
				<input type="radio" id="id_passive_risk_8_2" value="2" name="passive_risk_8" required="">
				<input type="radio" id="id_passive_risk_8_3" value="3" name="passive_risk_8" required="">
				<input type="radio" id="id_passive_risk_8_4" value="4" name="passive_risk_8" required="">
				<input type="radio" id="id_passive_risk_8_5" value="5" name="passive_risk_8" required="">
				<input type="radio" id="id_passive_risk_8_6" value="6" name="passive_risk_8" required="">
				<input type="radio" id="id_passive_risk_8_7" value="7" name="passive_risk_8" required="">
			</td>
		</tr>
		<tr class="table_content_row">
			<td class="table_left_col">Passive Risk 9</td>
			<td class="table_right_col">
				<input type="radio" id="id_passive_risk_9_1" value="1" name="passive_risk_9" required="">
				<input type="radio" id="id_passive_risk_9_2" value="2" name="passive_risk_9" required="">
				<input type="radio" id="id_passive_risk_9_3" value="3" name="passive_risk_9" required="">
				<input type="radio" id="id_passive_risk_9_4" value="4" name="passive_risk_9" required="">
				<input type="radio" id="id_passive_risk_9_5" value="5" name="passive_risk_9" required="">
				<input type="radio" id="id_passive_risk_9_6" value="6" name="passive_risk_9" required="">
				<input type="radio" id="id_passive_risk_9_7" value="7" name="passive_risk_9" required="">
			</td>
		</tr>
		<tr class="table_content_row">
			<td class="table_left_col">Passive Risk 10</td>
			<td class="table_right_col">
				<input type="radio" id="id_passive_risk_10_1" value="1" name="passive_risk_10" required="">
				<input type="radio" id="id_passive_risk_10_2" value="2" name="passive_risk_10" required="">
				<input type="radio" id="id_passive_risk_10_3" value="3" name="passive_risk_10" required="">
				<input type="radio" id="id_passive_risk_10_4" value="4" name="passive_risk_10" required="">
				<input type="radio" id="id_passive_risk_10_5" value="5" name="passive_risk_10" required="">
				<input type="radio" id="id_passive_risk_10_6" value="6" name="passive_risk_10" required="">
				<input type="radio" id="id_passive_risk_10_7" value="7" name="passive_risk_10" required="">
			</td>
		</tr>
		<tr class="table_content_row">
			<td class="table_left_col">Passive Risk 11</td>
			<td class="table_right_col">
				<input type="radio" id="id_passive_risk_11_1" value="1" name="passive_risk_11" required="">
				<input type="radio" id="id_passive_risk_11_2" value="2" name="passive_risk_11" required="">
				<input type="radio" id="id_passive_risk_11_3" value="3" name="passive_risk_11" required="">
				<input type="radio" id="id_passive_risk_11_4" value="4" name="passive_risk_11" required="">
				<input type="radio" id="id_passive_risk_11_5" value="5" name="passive_risk_11" required="">
				<input type="radio" id="id_passive_risk_11_6" value="6" name="passive_risk_11" required="">
				<input type="radio" id="id_passive_risk_11_7" value="7" name="passive_risk_11" required="">
			</td>
		</tr>
		<tr class="table_content_row">
			<td class="table_left_col">Passive Risk 12</td>
			<td class="table_right_col">
				<input type="radio" id="id_passive_risk_12_1" value="1" name="passive_risk_12" required="">
				<input type="radio" id="id_passive_risk_12_2" value="2" name="passive_risk_12" required="">
				<input type="radio" id="id_passive_risk_12_3" value="3" name="passive_risk_12" required="">
				<input type="radio" id="id_passive_risk_12_4" value="4" name="passive_risk_12" required="">
				<input type="radio" id="id_passive_risk_12_5" value="5" name="passive_risk_12" required="">
				<input type="radio" id="id_passive_risk_12_6" value="6" name="passive_risk_12" required="">
				<input type="radio" id="id_passive_risk_12_7" value="7" name="passive_risk_12" required="">
			</td>
		</tr>
	</table>


	<p>&nbsp;</p>

    {% next_button %}

{% endblock %}

{% block styles %}
	<style type="text/css">
	.table_risk {
		width: 100%;
	}

	.table_right_col {
		width: 250px;
		/*text-align: center;*/
		word-spacing: 20px;
	}

	#table_right_header {
		word-spacing: 25px;
	}

	.table_content_row td {
		padding-top: 10px;
	}

	.desc_header {
		text-align: center;
		width: 14.28%;
		border-bottom: 1px solid black;
	}

	.desc_field {
		text-align: center;
	}

	.desc_table {
		width: 100%;
	}

	</style>
{% endblock %}
