{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Fragebogen
{% endblock %}

{% block content %}

	<p>
		Bitte geben Sie für jede der folgenden Aussagen an, mit welcher <b>Wahrscheinlichkeit</b> Sie der genannten Aktivität oder Verhaltensweise nachgehen würden. Benutzen Sie dafür bitte folgende Skala von <b>1 bis 7</b>:
	</p>
	<table class="desc_table">
		<tr>
			<th class="desc_header">1</th>
			<th class="desc_header">2</th>
			<th class="desc_header">3</th>
			<th class="desc_header">4</th>
			<th class="desc_header">5</th>
			<th class="desc_header">6</th>
			<th class="desc_header">7</th>
		</tr>
		<tr>
			<td class="desc_field">sehr unwahrscheinlich</td>
			<td class="desc_field">unwahrscheinlich</td>
			<td class="desc_field">eher unwahrscheinlich</td>
			<td class="desc_field">nicht sicher</td>
			<td class="desc_field">eher wahrscheinlich</td>
			<td class="desc_field">wahrscheinlich</td>
			<td class="desc_field">sehr wahrscheinlich</td>
		</tr>
	</table>

	<p>&nbsp;</p>

	<table class="table_risk">
		<tr>
			<th>Frage</th>
			<th class="table_right_col" id="table_right_header">1 2 3 4 5 6 7</th>
		</tr>
		<tr class="table_content_row">
			<td class="table_left_col">Möchten Sie große Risiken jederzeit eingehen?</td>
			<td class="table_right_col">
				<input type="radio" id="id_active_risk_1_1" value="1" name="active_risk_1" required="">
				<input type="radio" id="id_active_risk_1_2" value="2" name="active_risk_1" required="">
				<input type="radio" id="id_active_risk_1_3" value="3" name="active_risk_1" required="">
				<input type="radio" id="id_active_risk_1_4" value="4" name="active_risk_1" required="">
				<input type="radio" id="id_active_risk_1_5" value="5" name="active_risk_1" required="">
				<input type="radio" id="id_active_risk_1_6" value="6" name="active_risk_1" required="">
				<input type="radio" id="id_active_risk_1_7" value="7" name="active_risk_1" required="">
			</td>
		</tr>
		<tr class="table_content_row">
			<td class="table_left_col">Eine zweite eher kurze Frage?</td>
			<td class="table_right_col">
				<input type="radio" id="id_active_risk_2_1" value="1" name="active_risk_2" required="">
				<input type="radio" id="id_active_risk_2_2" value="2" name="active_risk_2" required="">
				<input type="radio" id="id_active_risk_2_3" value="3" name="active_risk_2" required="">
				<input type="radio" id="id_active_risk_2_4" value="4" name="active_risk_2" required="">
				<input type="radio" id="id_active_risk_2_5" value="5" name="active_risk_2" required="">
				<input type="radio" id="id_active_risk_2_6" value="6" name="active_risk_2" required="">
				<input type="radio" id="id_active_risk_2_7" value="7" name="active_risk_2" required="">
			</td>
		</tr>
		<tr class="table_content_row">
			<td class="table_left_col">Diese Zeile ist sehr lang damit ich sehe, was passiert, wenn es einen Zeilenumbruch in der Tabellenspalte gibt, die die Fragen beinhaltet.</td>
			<td class="table_right_col">
				<input type="radio" id="id_active_risk_3_1" value="1" name="active_risk_3" required="">
				<input type="radio" id="id_active_risk_3_2" value="2" name="active_risk_3" required="">
				<input type="radio" id="id_active_risk_3_3" value="3" name="active_risk_3" required="">
				<input type="radio" id="id_active_risk_3_4" value="4" name="active_risk_3" required="">
				<input type="radio" id="id_active_risk_3_5" value="5" name="active_risk_3" required="">
				<input type="radio" id="id_active_risk_3_6" value="6" name="active_risk_3" required="">
				<input type="radio" id="id_active_risk_3_7" value="7" name="active_risk_3" required="">
			</td>
		</tr>
	</table>


	<p>&nbsp;</p>

    {% next_button %}

{% endblock %}

{% block styles %}
	<style type="text/css">
	.table_risk {
		width: 100%;
	}

	.table_right_col {
		width: 250px;
		text-align: center;
		word-spacing: 20px;
	}

	#table_right_header {
		word-spacing: 25px;
	}

	.table_content_row td {
		padding-top: 10px;
	}

	.desc_header {
		text-align: center;
		width: 14.28%;
		border-bottom: 1px solid black;
	}

	.desc_field {
		text-align: center;
	}

	.desc_table {
		width: 100%;
	}

	</style>
{% endblock %}
