{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
	Teil 1 - Proberunde
{% endblock %}

{% block styles %}
	<style type="text/css"> 
		.page-header {
			padding-top: 0px !important;
			padding-bottom: 0px !important;
			margin-top: 0px !important;
			margin-bottom: 10px !important;
		}
	</style>
{% endblock%}

{% block content %}
	<p>
		Bevor Sie mit der ersten Entscheidungsaufgabe beginnen, können Sie sich auf dem folgenden Bildschirm kurz mit der Bedienung des Entscheidungsbildschirmes vertraut machen. Die Aufgabe dient nur dazu, Sie mit der Anpassung der Balkenhöhe vertraut zu machen. Sie können auf diesem Erklärungsbildschirm kein Geld gewinnen.
	</p>
	<p>
		Sie sehen auf dem folgenden Bildschirm einen Balken, ähnlich der zuvor beschriebenen Lotteriedarstellung. Zusätzlich ist auf dem Hintergrund ein Bereich durch zwei horizontale, rote Linien markiert. Ihre Aufgabe ist es, durch Bedienen des Buttons die Höhe des Balkens so anzupassen, dass er zwischen den beiden roten Markierungen endet. Dies solle verdeutlichen wie Sie auf dem Entscheidungsbildschirm Anpassungen vornehmen können.
	</p>
	<p>
		Endet der Balken außerhalb der roten Markierungen, beginnt die Proberunde erneut. Sie endet erst, wenn Sie insgesamt zwei Mal erfolgreich den Balken so angepasst haben, so dass er in dem rot markierten Bereich endet.
	</p>
	{% next_button %}
{% endblock %}
